# Tugas Pengenalan Apache Spark

### Dataset

https://www.kaggle.com/chicago/chicago-building-violations

### Spark Initialization

In [5]:
import findspark
findspark.init()

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [7]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000023473EEAE10>

### Loading Data Using Spark

In [8]:
df = spark.read.json("D://big_data//spark//spark-2.3.3-bin-hadoop2.7//examples//src//main//resources//people.json")

In [9]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [10]:
df.count()

3

In [11]:
df2 = spark.read.csv("D:/KULIAH/SMT-6_BIG DATA/building-violations.csv", header=True, inferSchema=True)

In [11]:
df2.show()

+-------+----------------------------+-------------------+--------------+----------------+---------------------+---------------------+------------------+----------------------------+--------------------+------------+-----------------+-----------------+-----------------+-------------------+-----------------+-------------------+-------------+----------------+-----------+-----------+--------------+----+------------+-------------+--------------------+
|     ID|VIOLATION LAST MODIFIED DATE|     VIOLATION DATE|VIOLATION CODE|VIOLATION STATUS|VIOLATION STATUS DATE|VIOLATION DESCRIPTION|VIOLATION LOCATION|VIOLATION INSPECTOR COMMENTS| VIOLATION ORDINANCE|INSPECTOR ID|INSPECTION NUMBER|INSPECTION STATUS|INSPECTION WAIVED|INSPECTION CATEGORY|DEPARTMENT BUREAU|            ADDRESS|STREET NUMBER|STREET DIRECTION|STREET NAME|STREET TYPE|PROPERTY GROUP| SSA|    LATITUDE|    LONGITUDE|            LOCATION|
+-------+----------------------------+-------------------+--------------+----------------+---------------------+---------------------+------------------+----------------------------+--------------------+------------+-----------------+-----------------+-----------------+-------------------+-----------------+-------------------+-------------+----------------+-----------+-----------+--------------+----+------------+-------------+--------------------+
|1001846|         2008-05-20 11:55:49|2007-03-15 00:00:00|        EV0065|        COMPLIED|  2008-04-28 00:00:00|  TEST G & S PASS ELE|         BOTH CARS|                   FULL LOAD|Test governor and...|      541666|          2089609|           PASSED|                N|           PERIODIC|         ELEVATOR| 330 N JEFFERSON ST|          330|               N|  JEFFERSON|         ST|          1901|null|41.887764416| -87.64297689|"{'latitude': '41...|
|1001847|         2008-05-20 11:55:49|2007-03-15 00:00:00|        EV0117|        COMPLIED|  2008-04-28 00:00:00| REP/REPL DEF ALAR...|         BOTH CARS|        PROPERLY PROGRAM ...|Repair or replace...|      541666|          2089609|           PASSED|                N|           PERIODIC|         ELEVATOR| 330 N JEFFERSON ST|          330|               N|  JEFFERSON|         ST|          1901|null|41.887764416| -87.64297689|"{'latitude': '41...|
|1002009|         2011-12-07 11:58:27|2009-04-27 00:00:00|        EV0252|        COMPLIED|  2011-10-25 00:00:00| REMOVE DEBRIS FRO...|              null|                        null|Remove accumulate...|      541348|         10233143|           PASSED|                N|           PERIODIC|         ELEVATOR|5530 N WINTHROP AVE|         5530|               N|   WINTHROP|        AVE|         12102|  26|41.982771573|-87.658138451|"{'latitude': '41...|
|1002038|         2006-11-16 11:14:46|2006-10-02 00:00:00|        199029|            OPEN|                 null|  OPEN TYPE VIOLATION|              null|        RE: BOTH CARS-1. ...|                null|      541348|          1125132|           FAILED|                N|           PERIODIC|         ELEVATOR| 1055 W CATALPA AVE|         1055|               W|    CATALPA|        AVE|         12037|null|41.981733026|-87.657298775|"{'latitude': '41...|
|1002039|         2006-11-16 11:37:58|2006-10-02 00:00:00|        199029|            OPEN|                 null|  OPEN TYPE VIOLATION|              null|        2. INSTALL MISSIN...|                null|      541348|          1598831|           FAILED|                N|           PERIODIC|         ELEVATOR| 1055 W CATALPA AVE|         1055|               W|    CATALPA|        AVE|         12037|null|41.981733026|-87.657298775|"{'latitude': '41...|
|1002040|         2006-11-16 11:37:58|2006-10-02 00:00:00|        199029|            OPEN|                 null|  OPEN TYPE VIOLATION|              null|        3. REPAIR TELEPHO...|                null|      541348|          1598831|           FAILED|                N|           PERIODIC|         ELEVATOR| 1055 W CATALPA AVE|         1055|               W|    CATALPA|        AVE|         12037|null|41.981733026|-87.657298775|"{'latitude': '41...|
|1002042|         2006-11-16 11:16:37|2006-10-02 00:00:00|        199029|            OPEN|                 null|  OPEN TYPE VIOLATION|              null|        5. CLEAN ELEVATOR...|                null|      541348|          1125132|           FAILED|                N|           PERIODIC|         ELEVATOR| 1055 W CATALPA AVE|         1055|               W|    CATALPA|        AVE|         12037|null|41.981733026|-87.657298775|"{'latitude': '41...|
|1002044|         2006-11-16 11:37:58|2006-10-02 00:00:00|        199029|            OPEN|                 null|  OPEN TYPE VIOLATION|              null|        PROPERLY REPAIR S...|                null|      541348|          1598831|           FAILED|                N|           PERIODIC|         ELEVATOR| 1055 W CATALPA AVE|         1055|               W|    CATALPA|        AVE|         12037|null|41.981733026|-87.657298775|"{'latitude': '41...|
|1002047|         2008-04-08 12:19:51|2008-03-06 00:00:00|        199029|            OPEN|                 null|  OPEN TYPE VIOLATION|      ELEVATOR CAB|        INSTALL LIGHT PRO...|                null|      541348|          1125133|           FAILED|                N|           PERIODIC|         ELEVATOR| 5534 N KENMORE AVE|         5534|               N|    KENMORE|        AVE|         12066|  26|41.982909031|-87.656743178|"{'latitude': '41...|
|1002048|         2008-04-08 12:19:59|2008-03-06 00:00:00|        199029|            OPEN|                 null|  OPEN TYPE VIOLATION|              null|        OBTAIN PERMIT AND...|                null|      541348|          1125133|           FAILED|                N|           PERIODIC|         ELEVATOR| 5534 N KENMORE AVE|         5534|               N|    KENMORE|        AVE|         12066|  26|41.982909031|-87.656743178|"{'latitude': '41...|
|1003969|         2006-05-09 16:12:02|2006-04-20 00:00:00|        EL0002|        COMPLIED|  2006-04-20 00:00:00| DEFECTIVE POWER S...|              null|        TO 2ND FLOOR APAR...|Replace defective...|      538914|          1125540|           CLOSED|                N|          COMPLAINT|       ELECTRICAL| 5424 S LOOMIS BLVD|         5424|               S|     LOOMIS|       BLVD|        331651|null|41.795147261|-87.659906139|"{'latitude': '41...|
|1003970|         2006-05-09 16:12:11|2006-04-20 00:00:00|        EL0091|        COMPLIED|  2006-04-20 00:00:00|     NO PERMIT WIRING|              null|        PROVIDE PERMIT TO...|Obtain permit for...|      538914|          1125540|           CLOSED|                N|          COMPLAINT|       ELECTRICAL| 5424 S LOOMIS BLVD|         5424|               S|     LOOMIS|       BLVD|        331651|null|41.795147261|-87.659906139|"{'latitude': '41...|
|1007960|         2007-03-15 11:38:36|2006-08-11 00:00:00|      CN077014|        COMPLIED|  2006-09-28 00:00:00|         REPAIR FENCE|            MODIFY|        SOUTH FENCE NO TO...|Failed to maintai...|     BL00754|          1550107|           PASSED|                N|           PERIODIC|     CONSERVATION| 1431 S KENNETH AVE|         1431|               S|    KENNETH|        AVE|         15891|null|41.861425062|-87.735890589|"{'latitude': '41...|
|1007961|         2007-03-15 11:38:36|2006-08-11 00:00:00|      CN196019|        COMPLIED|  2006-09-28 00:00:00|    NO POSTED ADDRESS|            MODIFY|        NO ADDRESS POSTED...|Post address of b...|     BL00754|          1550107|           PASSED|                N|           PERIODIC|     CONSERVATION| 1431 S KENNETH AVE|         1431|               S|    KENNETH|        AVE|         15891|null|41.861425062|-87.735890589|"{'latitude': '41...|
|1007963|         2007-03-15 11:38:36|2006-08-11 00:00:00|        NC5042|        COMPLIED|  2006-09-28 00:00:00| SELF-CLOSE CLASS ...|            MODIFY|        NO CLOSERS AT ENT...|Failed to provide...|     BL00754|          1550107|           PASSED|                N|           PERIODIC|     CONSERVATION| 1431 S KENNETH AVE|         1431|               S|    KENNETH|        AVE|         15891|null|41.861425062|-87.735890589|"{'latitude': '41...|
|1007964|         2007-03-15 11:38:36|2006-08-11 00:00:00|      CN105045|        COMPLIED|  2006-09-28 00:00:00| INSTALL DEAD BOLT...|            MODIFY|        1433 NO DEADBOLT ...|Failed to install...|     BL00754|          1550107|           PASSED|                N|           PERIODIC|     CONSERVATION| 1431 S KENNETH AVE|         1431|               S|    KENNETH|        AVE|         15891|null|41.861425062|-87.735890589|"{'latitude': '41...|
|1007967|         2007-03-15 11:38:36|2006-08-11 00:00:00|      CN135016|        COMPLIED|  2006-09-28 00:00:00|         MICE/RODENTS|            MODIFY|              MICE INFECTIVE|Exterminate roden...|     BL00754|          1550107|           PASSED|                N|           PERIODIC|     CONSERVATION| 1431 S KENNETH AVE|         1431|               S|    KENNETH|        AVE|         15891|null|41.861425062|-87.735890589|"{'latitude': '41...|
|1011895|         2006-05-08 19:26:29|2006-04-24 00:00:00|      CN070024|            OPEN|                 null|  REPAIR PORCH SYSTEM|              null|        SR#05-01068689 PO...|Failed to repair ...|     BL00812|          1127250|           FAILED|                N|          COMPLAINT|     CONSERVATION| 4049 W HARRISON ST|         4049|               W|   HARRISON|         ST|        259397|null|41.873315182|-87.727370958|"{'latitude': '41...|
|1011897|         2006-05-08 19:32:43|2006-04-24 00:00:00|      CN190029|            OPEN|                 null| ARRANGE FOR REINS...|              null|        NO ENTRY TO INTER...|pending notice re...|     BL00812|          1127250|           FAILED|                N|          COMPLAINT|     CONSERVATION| 4049 W HARRISON ST|         4049|               W|   HARRISON|         ST|        259397|null|41.873315182|-87.727370958|"{'latitude': '41...|
|1011898|         2006-05-08 19:27:37|2006-04-24 00:00:00|      CN077014|            OPEN|                 null|         REPAIR FENCE|              null|        DAMAGE FENCE, MIS...|Failed to maintai...|     BL00812|          1127250|           FAILED|                N|          COMPLAINT|     CONSERVATION| 4049 W HARRISON ST|         4049|               W|   HARRISON|         ST|        259397|null|41.873315182|-87.727370958|"{'latitude': '41...|
+-------+----------------------------+-------------------+--------------+----------------+---------------------+---------------------+------------------+----------------------------+--------------------+------------+-----------------+-----------------+-----------------+-------------------+-----------------+-------------------+-------------+----------------+-----------+-----------+--------------+----+------------+-------------+--------------------+
only showing top 20 rows

In [12]:
df2.schema

StructType(List(StructField(ID,IntegerType,true),StructField(VIOLATION LAST MODIFIED DATE,TimestampType,true),StructField(VIOLATION DATE,TimestampType,true),StructField(VIOLATION CODE,StringType,true),StructField(VIOLATION STATUS,StringType,true),StructField(VIOLATION STATUS DATE,TimestampType,true),StructField(VIOLATION DESCRIPTION,StringType,true),StructField(VIOLATION LOCATION,StringType,true),StructField(VIOLATION INSPECTOR COMMENTS,StringType,true),StructField(VIOLATION ORDINANCE,StringType,true),StructField(INSPECTOR ID,StringType,true),StructField(INSPECTION NUMBER,StringType,true),StructField(INSPECTION STATUS,StringType,true),StructField(INSPECTION WAIVED,StringType,true),StructField(INSPECTION CATEGORY,StringType,true),StructField(DEPARTMENT BUREAU,StringType,true),StructField(ADDRESS,StringType,true),StructField(STREET NUMBER,StringType,true),StructField(STREET DIRECTION,StringType,true),StructField(STREET NAME,StringType,true),StructField(STREET TYPE,StringType,true),StructField(PROPERTY GROUP,StringType,true),StructField(SSA,StringType,true),StructField(LATITUDE,StringType,true),StructField(LONGITUDE,StringType,true),StructField(LOCATION,StringType,true)))

In [13]:
df2.count()

1600373

In [12]:
df2.createOrReplaceTempView("violations")

In [13]:
result = spark.sql("SELECT DISTINCT ADDRESS FROM violations")

In [14]:
result.show()

+--------------------+
|             ADDRESS|
+--------------------+
|   9551 S RACINE AVE|
|  6949 S NORMAL BLVD|
|6701 N GREENVIEW AVE|
|   7231 S YATES BLVD|
|    4515 W FULTON ST|
|  5329 N LINCOLN AVE|
|    5009 S LAFLIN ST|
|    4351 S HONORE ST|
|   7016 S PAULINA ST|
|  5928 S PRAIRIE AVE|
|7037 S CLAREMONT AVE|
|6345 S CALIFORNIA...|
|    2755 W DEVON AVE|
|4622 S DR MARTIN ...|
|    3054 W CERMAK RD|
|    2515 W JEROME ST|
|  2607 W RASCHER AVE|
|4515 W WRIGHTWOOD...|
|920 W WRIGHTWOOD AVE|
|   4332 N PAULINA ST|
+--------------------+
only showing top 20 rows

In [15]:
result = spark.sql("SELECT DISTINCT 'VIOLATION DATE' FROM violations")

In [16]:
spark.sql("SELECT DISTINCT `VIOLATION DESCRIPTION` FROM violations").show()

+---------------------+
|VIOLATION DESCRIPTION|
+---------------------+
| SERVICE WALK, PAS...|
| REMOVE WATER FROM...|
|        UNAPPROVED EM|
|     HYDROSTATIC TEST|
|      REPAIR BAY WALL|
| PLANS & PERMITS R...|
| STOP USING VENT A...|
| TUCK POINT CENTER...|
| 1-HR HEATING PLAN...|
|  OPEN TYPE VIOLATION|
|  REPAIR PORCH SYSTEM|
| REPLCE WINDOW PAN...|
| POST OWNER/MANAGE...|
| INST/MISS PULL ST...|
| HEATING PLANT SEP...|
| DISCHARGE EXHAUST...|
|  EXTERMINATE ROACHES|
| WIRED GLASS IN CL...|
| REPAIR CANOPY OF ...|
| HEATER VERTICAL V...|
+---------------------+
only showing top 20 rows

### Data Mining Process

In [17]:
#daftar pelanggaran yang banyak terjadi
Query1 = spark.sql("SELECT `VIOLATION DESCRIPTION` AS VIOLATION, COUNT(`VIOLATION DESCRIPTION`) AS TOTAL \
                    FROM violations \
                    GROUP BY `VIOLATION DESCRIPTION`\
                    ORDER BY COUNT(`VIOLATION DESCRIPTION`) DESC")

In [18]:
Query1.show()

+--------------------+-----+
|           VIOLATION|TOTAL|
+--------------------+-----+
|ARRANGE PREMISE I...|85066|
|POST OWNER/MANAGE...|56292|
|REPAIR EXTERIOR WALL|49096|
| REPAIR PORCH SYSTEM|41841|
|MAINTAIN OR REPAI...|39671|
|VACANT BUILDING -...|35147|
|REPLCE WINDOW PAN...|33242|
|REPAIR EXTERIOR S...|30686|
|INSTALL SMOKE DET...|29651|
|PLANS & PERMITS R...|27088|
|FILE BLDG REGISTR...|26617|
|STOP/REMOVE NUISANCE|24375|
|MAINTAIN OR REPAI...|23732|
|CARB MONOX DETECT...|22542|
|   DEBRIS, EXCESSIVE|22375|
|REPAIR EXTERIOR DOOR|19160|
|OBSTRUCTIONS IN E...|19079|
|REPAIR INTERIOR W...|18518|
|             PARAPET|18059|
|REPAIR/REBUILD GA...|16796|
+--------------------+-----+
only showing top 20 rows

In [19]:
spark.sql("SELECT DISTINCT `DEPARTMENT BUREAU` FROM violations").show()

+--------------------+
|   DEPARTMENT BUREAU|
+--------------------+
| ROTTED STRINGERS...|
| INSUFFICIENT CON...|
|             2740491|
|            10720139|
|              112464|
|    TREADS ARE LOOSE|
|     BROKEN SECTIONS|
|             1129381|
|             1426845|
|             2797778|
| JOISTS ON LANDIN...|
|COLUMNS ARE SITTI...|
|            10542469|
|            10662137|
|Failed to maintai...|
|            12644885|
|             1970412|
| EAST BEAM SUPPOR...|
| STAIRS GRADE TO ...|
|             1580986|
+--------------------+
only showing top 20 rows

In [20]:
#daftar jumlah kasus yang ditangani dari tiap biro di departemen bangunan
Query2 = spark.sql("SELECT `DEPARTMENT BUREAU` AS BUREAU, COUNT(`DEPARTMENT BUREAU`) AS `TOTAL CASE TREATED` \
                    FROM violations \
                    GROUP BY `DEPARTMENT BUREAU`\
                    ORDER BY COUNT(`DEPARTMENT BUREAU`) DESC")

In [21]:
Query2.show()

+--------------------+------------------+
|              BUREAU|TOTAL CASE TREATED|
+--------------------+------------------+
|        CONSERVATION|           1058409|
|          DEMOLITION|            119627|
|  SPECIAL TASK FORCE|            107289|
|            ELEVATOR|             79431|
|          ELECTRICAL|             35694|
|              BOILER|             29738|
|         VENTILATION|             29604|
|       REFRIGERATION|             29052|
|    NEW CONSTRUCTION|             27393|
|            PLUMBING|             26610|
|SPECIAL INSPECTIO...|             19496|
|                IRON|             14304|
|               SIGNS|             10230|
|           COMPLAINT|              5376|
|                   N|              2361|
|            PERIODIC|              1117|
|              FAILED|               905|
|               WATER|               784|
|CONSTRUCTION EQUI...|               462|
|              PASSED|               188|
+--------------------+------------------+
only showing top 20 rows

In [22]:
#jumlah kasus pelanggaran yang dikutip dalam tiap hari 
Query3 = spark.sql("SELECT TO_DATE(`VIOLATION DATE`, 'MM/DD/YYYY') AS DATE, COUNT(`VIOLATION DATE`) AS `VIOLATION TOTAL`\
                    FROM violations \
                    GROUP BY `VIOLATION DATE` \
                    ORDER BY `VIOLATION DATE` DESC")

In [23]:
Query3.show()

+----------+---------------+
|      DATE|VIOLATION TOTAL|
+----------+---------------+
|2019-02-26|             21|
|2019-02-25|            132|
|2019-02-24|              4|
|2019-02-23|              9|
|2019-02-22|            288|
|2019-02-21|            245|
|2019-02-20|            417|
|2019-02-19|            427|
|2019-02-16|              3|
|2019-02-15|            285|
|2019-02-14|            347|
|2019-02-13|            301|
|2019-02-12|              7|
|2019-02-11|            240|
|2019-02-09|              8|
|2019-02-08|            237|
|2019-02-07|            319|
|2019-02-06|            375|
|2019-02-05|            384|
|2019-02-04|            189|
+----------+---------------+
only showing top 20 rows